h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

.cart {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px dashed gray;
}

.reaction {
  background: rgba(190, 190, 190, 50%);
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
  width: 80%;
  background: aliceblue;
}

button:hover {
  background: rgba(100, 149, 237, 30%);
}

button:focus {
  outline: none;
}
