.mat-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
  color: black;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  width: 2.5em;
  height: 2.5em;
}
