.mat-header-cell {
  font-family: "Times New Roman";
  font-size: 20px;
}

th.mat-header-cell{
  text-align: center;
}

.mat-cell {
  font-family: "Times New Roman";
  font-size: 20px;
}

mat-form-field {
  width: 250px;
}
