<div class="col-md-6 offset-md-3 py-5 login-form">
  <alert></alert>
  <div class="card my-auto">
    <h4 class="card-header">Register form</h4>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>User name</mat-label>
            <input matInput placeholder="Enter your user name" formControlName="userName">
            <div matSuffix class="icon-container">
              <mat-icon class="icon-style">person</mat-icon>
            </div>
          </mat-form-field>
          <div *ngIf="preSubmitted && f.userName.errors" class="text-danger">
            <div *ngIf="f.userName.errors.pattern">The user name must be like this pattern "Name Surname"</div>
          </div>
          <div *ngIf="submitted && isUserNameErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of userModelErrors.UserName">
              {{error}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="Enter your email address" formControlName="email">
            <div matSuffix class="icon-container">
              <mat-icon class="icon-style">email</mat-icon>
            </div>
          </mat-form-field>
          <div *ngIf="preSubmitted && f.email.errors" class="text-danger">
            <div *ngIf="f.email.errors.pattern">The email must be like this pattern "user@gmail.com"</div>
          </div>
          <div *ngIf="submitted && isEmailErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of userModelErrors.Email">
              {{error}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input matInput placeholder="Enter your phone number" formControlName="phone">
            <div matSuffix class="icon-container">
              <mat-icon class="icon-style">phone</mat-icon>
            </div>
          </mat-form-field>
          <div *ngIf="preSubmitted && f.phone.errors" class="text-danger">
            <div *ngIf="f.phone.errors.pattern">The phone number must be like this pattern "+380997685438"</div>
          </div>
          <div *ngIf="submitted && isPhoneErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of userModelErrors.Phone">
              {{error}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Choose your birthdate" formControlName="birthdate"
                   [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon class="icon-style">calendar_month</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="submitted && isBirthdateErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of userModelErrors.Birthdate">
              {{error}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hideoP ? 'password' : 'text'" placeholder="Enter your password"
                   formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hideoP = !hideoP"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideoP">
              <mat-icon class="icon-style">{{hideoP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Password for confirm</mat-label>
            <input matInput [type]="hideoP ? 'password' : 'text'" placeholder="Enter your password for confirm"
                   formControlName="repeatPassword">
            <button type="button" mat-icon-button matSuffix (click)="hideoP = !hideoP"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideoP">
              <mat-icon class="icon-style">{{hideoP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="preSubmitted && (f['password'].errors?.minlength || f['repeatPassword'].errors?.minlength
          || f['password'].errors?.maxlength || f['repeatPassword'].errors?.maxlength)"
               class="text-danger">
            Every password has to contain at least 8 characters at most 20!
          </div>
          <div *ngIf="submitted">
            <p *ngIf="!isCorrectRepeated" class="text-danger">Password confirmed incorrect!</p>
          </div>
          <div *ngIf="submitted && isPasswordErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of userModelErrors.Password">
              {{error}}
            </div>
          </div>
        </div>
        <button class="btn btn-primary">
          Confirm
        </button>
      </form>
    </div>
  </div>
</div>
