<div class="col-md-6 offset-md-3 py-5 login-form">
  <alert></alert>
  <div class="card my-auto">
    <h4 class="card-header">Password change form</h4>
    <div class="card-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hideoP ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hideoP = !hideoP"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideoP">
              <mat-icon class="icon-style">{{hideoP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input matInput [type]="hideNP ? 'password' : 'text'" placeholder="Enter your new password"formControlName="newPassword">
            <button type="button" mat-icon-button matSuffix (click)="hideNP = !hideNP"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNP">
              <mat-icon class="icon-style">{{hideNP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>New password for confirm</mat-label>
            <input matInput [type]="hideNP ? 'password' : 'text'" placeholder="Enter new password for confirm" formControlName="repeatPassword">
            <button type="button" mat-icon-button matSuffix (click)="hideNP = !hideNP"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideNP">
              <mat-icon class="icon-style">{{hideNP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form-group">
          <div *ngIf="preSubmitted && (f['password'].errors?.minlength || f['newPassword'].errors?.minlength || f['repeatPassword'].errors?.minlength
          || f['password'].errors?.maxlength || f['newPassword'].errors?.maxlength || f['repeatPassword'].errors?.maxlength)"
               class="text-danger">
              Every password has to contain at least 8 characters at most 20!
          </div>
          <div *ngIf="submitted">
            <p *ngIf="!isCorrectRepeated" class="text-danger">Password confirmed incorrect!</p>
          </div>
          <div *ngIf="submitted && isPasswordErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of changePasswordError.Password">
              {{error}}
            </div>
          </div>
        </div>
        <button class="btn btn-primary">
          Confirm
        </button>
      </form>
    </div>
  </div>
</div>
