<div class="col-md-6 offset-md-3 py-5 login-form">
  <alert></alert>
  <div class="card my-auto">
    <h4 class="card-header">Authorization form</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email" email class="form-control" [ngClass]="{ 'is-invalid': preSubmitted && f['email'].errors }"
                 placeholder="Input field for your email"/>
          <div *ngIf="preSubmitted && f.email.errors" class="text-danger">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">The user email must be like this pattern "user@gmail.com"</div>
          </div>
          <div *ngIf="submitted && isEmailErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of authenticateErrors.Email">
              {{error}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': preSubmitted && f['password'].errors }"
                 placeholder="Input field for your password"/>
          <div *ngIf="preSubmitted && f.password.errors" class="text-danger">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          <div *ngIf="submitted && isPasswordErrors" class="alert alert-danger mt-3 mb-0">
            <div *ngFor="let error of authenticateErrors.Password">
              {{error}}
            </div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </form>
    </div>
  </div>
</div>
