<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Input substring for search" #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="col-12 mx-auto text-center">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="genreName">
      <th mat-header-cell *matHeaderCellDef> Genre Name</th>
      <td mat-cell *matCellDef="let element"> {{element.genreName}} </td>
    </ng-container>

    <ng-container matColumnDef="authorName">
      <th mat-header-cell *matHeaderCellDef> Author Name</th>
      <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
    </ng-container>

    <ng-container matColumnDef="postedDate">
      <th mat-header-cell *matHeaderCellDef> Posted Date</th>
      <td mat-cell *matCellDef="let element"> {{element.postedDate | date:"longDate"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="publishedAudioView.length == 0" style="text-align: center">
    You don't have any published audio!
  </div>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons aria-label="Select page of audio"></mat-paginator>
</div>
