/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
}

p {
  margin: 0;
}
