<div class="container">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search field</mat-label>
    <input type="text"
           placeholder="Input substring for search"
           aria-label="Number"
           matInput [(ngModel)]="searchSubstring">
  </mat-form-field>
  <mat-card class="cart" *ngFor="let a of AudioWithFilter">
    <mat-card-title>{{a.name}}</mat-card-title>
    <mat-card-subtitle>{{a.genre.name}}</mat-card-subtitle>
    <mat-card-subtitle>{{a.authorName}}</mat-card-subtitle>
    <mat-card-subtitle align="end">{{a.postedDate | date:"longDate"}}</mat-card-subtitle>
    <mat-card-actions align="end">
      <div class="reaction">
        <button mat-icon-button (click)="AudioService.toLike(a.id)" *ngIf="currentUser">
          <ng-template [ngIf]="AudioService.isLiked(a.id)" [ngIfElse]="empty">
            <mat-icon color="warn">favorite</mat-icon>
          </ng-template>
          <ng-template #empty>
            <mat-icon>favorite_border</mat-icon>
          </ng-template>
        </button>
        <button mat-icon-button (click)="AudioService.toDownload(a.id)">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="cart" *ngIf="!audio">
    <mat-card-title>There aren't audio!</mat-card-title>
  </mat-card>
</div>
