footer {
  color: aliceblue;
}

.navbar {
  justify-content: space-between;
}

.navbar .navbar-nav a {
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 86vh;
}

.navbar-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
