<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/overview">Overview</a>
    <a class="nav-item nav-link" routerLink="/audio">Audio</a>
    <a class="nav-item nav-link" routerLink="/published-audio" *ngIf="currentUser">Published audio</a>
    <a class="nav-item nav-link" routerLink="/liked-audio" *ngIf="currentUser">Liked audio</a>
    <a class="nav-item nav-link" routerLink="/genres" *ngIf="isAdministrator">Genres</a>
    <a class="nav-item nav-link" routerLink="/users" *ngIf="isAdministrator">Users</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentUser">Login</a>
    <a class="nav-item nav-link" routerLink="/register" *ngIf="!currentUser">Register</a>
    <div class="navbar-user">
      <a class="nav-item nav-link navbar-user" routerLink="/user-profile" *ngIf="currentUser">
        <mat-icon>account_circle</mat-icon>
        {{currentUser.userName}}</a>
    </div>
    <a class="nav-item nav-link" *ngIf="currentUser" (click)="logout()">Logout</a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small bg-dark">
  <div class="footer-copyright text-center py-3">© 2022 Copyright Viktor Onyshchenko
    <p> AudioStorage Epam's final project</p>
  </div>
</footer>
