<h1>List of genres</h1>
<alert></alert>
<input type="button" value="Add" class="btn btn-outline-primary btn-add" (click)="add()"/>
<table *ngIf="tableMode; else work" class="table table-striped">
  {{setCounter()}}
  <thead>
  <tr>
    <td>No.</td>
    <td>Name</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let genre of genres">
      <td>{{incrementCounter}}</td>
      <td>{{genre?.name}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-info" (click)="editProduct(genre)">Edit</button>
          <button class="btn btn-outline-danger" (click)="delete(genre)">Delete</button>
        </div>
      </td>
  </tr>
  </tbody>
</table>

<!--шаблон для добавления-->
<ng-template #work>
  <form [formGroup]="inputForm" (ngSubmit)="save()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="genre.name" class="form-control"
             formControlName="name"
             placeholder="Input field for genre name"/>
      <div class="alert alert-danger"
           *ngIf="submitted && f['name'].invalid">
        Genre name is required
      </div>
      <div class="alert alert-danger mt-3 mb-0"
           *ngIf="preSubmitted && isGenreErrors">
        <div *ngFor="let error of genreErrors.Name">
          {{error}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-success">
        Save
      </button>
      <input type="button" value="Cancel" class="btn btn-outline-danger" (click)="cancel()"/>
    </div>
  </form>
</ng-template>
