<h1>List of users</h1>
<table class="table table-striped">
  {{setCounter()}}
  <thead>
  <tr>
    <td>No.</td>
    <td>Name</td>
    <td>Birthdate</td>
    <td>Email</td>
    <td>Phone</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{incrementCounter}}</td>
    <td>{{user?.userName}}</td>
    <td>{{user?.birthdate | date:"longDate"}}</td>
    <td>{{user?.email}}</td>
    <td>{{user?.phone}}</td>
    <td>
      <button class="btn btn-outline-danger" (click)="delete(user)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
