<div class="container">
  <div class="category" *ngFor="let genre of genres">
    <h2 class="title">{{genre.name}}</h2>
    <mat-card class="cart" *ngFor="let audio of audioByGenre(genre.id)">
      <mat-card-title>{{audio.name}}</mat-card-title>
      <mat-card-subtitle>{{audio.authorName}}</mat-card-subtitle>
      <mat-card-subtitle align="end">{{audio.postedDate | date:"longDate"}}</mat-card-subtitle>
      <mat-card-actions align="end">
        <div class="reaction">
          <button mat-icon-button (click)="AudioService.toLike(audio.id)" *ngIf="currentUser">
            <ng-template [ngIf]="AudioService.isLiked(audio.id)" [ngIfElse]="empty">
              <mat-icon color="warn">favorite</mat-icon>
            </ng-template>
            <ng-template #empty>
              <mat-icon>favorite_border</mat-icon>
            </ng-template>
          </button>
          <button mat-icon-button (click)="AudioService.toDownload(audio.id)">
            <mat-icon>cloud_download</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card class="cart" *ngIf="!audioByGenre(genre.id)">
      <mat-card-title>There aren't popular audio!</mat-card-title>
    </mat-card>
  </div>
</div>
